body {
  font-family: "Inter", sans-serif;
  text-align: center;
  margin-top: 225px;
}

#inputText {
  border-radius: 5px;
  width: 300px;
  margin-right: 5px;
  padding-left: 15px;
  border: none;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
}

#inputText:focus {
  outline: none;
}

#button {
  border-radius: 5px;
  border: none;
  width: 75px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
  background-color: rgb(245, 58, 58);
  color: white;
  font-weight: bold;
}

#button:focus {
  outline: none;
}

#inputandbutton {
  display: flex;
  height: 35px;
  justify-content: center;
}
